@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

:root {
    --blue:#562EFF;
    --black: #000000;
    --light-black: #1E1E1E; 
    --white-light: #A2A2A2;
    --red: #FF4A60;
    --red-background: #FFE4E8;
    --yellow: #FFC014;
    --bg: #F3F1FF;
    --white:#ffffff;
}

* {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size:62.5%;
    overflow-x: hidden;
}

/* COMMON STYLES  */

.section-title {
    color: var(--black);
    font-size: 2rem;
    padding: 3rem 0;
    margin-left: 8%;
    color: var(--blue);
}

.col-heading {
    font-size: 2rem;
}

section {
    max-width: 870px;
    margin: 0 auto;
    background:var(--white);
    padding-bottom: 5rem;
    border-radius: .5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

main {
    background: var(--bg);
}

/* HEADER   */

header {
    padding: 1.5rem 22%;
    background: var(--blue);
    display: flex;
    align-items: center;
}

header .logo {
    color: var(--white);
    font-size: 2.5rem;
    display: flex;
    align-items: center; gap: .5rem;
    margin-right: auto;
}

header .logo .img {
    width: 40px;
    height: 50px;
}

header .logo .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .navbar a {
    font-size: 2.5rem;
    color:var(--white);
    margin-right: 2rem;
}

header .profail-img .img {
    width:51px;
    height: 51px;
}

header .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* PLAYERS SECTION  */
main section .player-container .player {
    margin: 0 auto;
}

main section .player-container .player img{
    width: 56px;
    height: 56px;
}

/* BLOGS SECTION  */
main section .blog-container.grid {
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap:2rem;
}

main section .blog-container .blog {
    margin: 0 auto;
}

main section .blog-container .blog .img .img-container{
    width: 117px;
    height: 117px;
}

main section .blog-container .blog .img .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section .blog-container .blog p {
    color: var(--blue);
    font-size: 1.7rem;
    margin-top: .5rem;
}

main section .blog-container .blog p span {
    color: var(--white-light);
    font-size: 1.5rem;

}

/* COURSES SECTION  */
.course-section {
    margin-top: 5rem;
}
main .course-section .course-container.row {
    gap: 1rem;
    margin-left: 4.5rem;
}

main .course-section .course-container .course {
    margin: 0 auto;
    flex: 1 1 20rem;
}

main .course-section .course-container .course .img {
    width: 225px;
    height: 105px;
    margin-bottom: 1rem;
}

main .course-section .course-container .course .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .course-section .course-container .course p {
    color: var(--red);
    font-size: 1.5rem;
    margin: .5rem 0;
}
.course-container .course .review-container.row{
    gap: 1.7rem;
}

.course-container .course .review-container .review i{
    color: var(--yellow);
    font-size: 1.3rem;
}

.course-container .course .review-container .review i:last-child{
    color: var(--white-light);
}

.course-container .course .review-container span {
    color: var(--white-light);
    font-size: 1.3rem;
}

.course-container .course .review-container p {
    color: var(--red);
    background: var(--red-background);
    padding: .2rem 1rem;
    border-radius: 5rem;
}



/* MEDIA QUEARIES */
@media (max-width:1200px) {
    header {
        padding:1.5rem 10%;
    }
}


@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    main .course-section .course-container.row {
        gap: 1rem;
        margin-left:2.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    header {
        justify-content: space-between;
    }

    header .logo{
        margin: 0;
    }

    header .navbar a{
        display: block;
    }

    main .course-section .course-container.row {
        gap: 3rem;
    }
}