@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

:root {
    --blue:#562EFF;
    --black: #000000;
    --light-black: #1E1E1E; 
    --white-light: #A2A2A2;
    --red: #FF4A60;
    --red-background: #FFE4E8;
    --yellow: #FFC014;
    --bg: #F3F1FF;
    --white:#ffffff;
}

* {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size:62.5%;
    overflow-x: hidden;
}

/* COMMON STYLES  */

    .section-title {
    color: var(--black);
    font-size: 2rem;
    padding: 3rem 0;
    margin-left: 8%;
}

.col-heading {
    font-size: 2rem;
}

section {
    max-width: 870px;
    margin: 0 auto;
    background:var(--white);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.col {
    flex: 1 1 30rem;
}

main {
    background: var(--bg);
}

/* PLAYERS SECTION  */
main section .player-container .player {
    margin: 0 auto;
}

main section .player-container .player img{
    width: 56px;
    height: 56px;
}

/* BLOGS SECTION  */
main section .blog-container.grid {
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap:2rem;
}

main section .blog-container .blog {
    margin: 0 auto;
}

main section .blog-container .blog .img .img-container{
    width: 117px;
    height: 117px;
}

main section .blog-container .blog .img .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MEDIA QUEARIES */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}